page-tell {
    ion-item.item{
        background-color: #FF6F18;
    }
    ion-item:hover{
        background-color: #FFB00D;
    }
    #call{
        font-size: 20pt;
    }
    #BG{
        padding-top: 10px;
    }
    ion-navbar{
        background-color:#FFB00D;
    }

}
