page-login {
    #test{
        background-color:#FFB00D;
        height: 100%;
    }
    #user{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-left: 5px;
        border-radius: 10px;
        width: 97%;
    }
    #txt{
        height: 50%;
        background-color: #FFB00D;
        border: solid 1px;
        border-radius: 10px;
        margin: 5px 5px 5px 5px;
        width: 97%;
        border-color: #FF6E17;

    }
    input[type='text']{
        
    }
    #txt p {
        font-size: 30px;
        color: #FF6E17;
        text-align: left;
    }
    
}
