page-news {
    
        
    div.scroll-content{
        background-color: #FFB00D;
        padding: 10px;
    }
   #card{
        background-color: #FFF1C8; 
        border: 1px;
        border-color: #FFF1C8;
    }

    ion-header{
        background-color: #FF6F18; 
    }
    ion-icon{
        font-size: 100px;
        color: #FF6F18;
    }
        #fab1{
            background-color: white;
        }
        #div1{
            padding: 5px;
            margin: 5px;
            border-radius: 2px;
        }
}
