page-news {


    ion-icon{
        font-size: 100px;
        color: #FF6F18;

    }
    #bordergrid{
        border: solid 1px;
        border-radius: 5px;
        border-color: gold;
        margin: 10px;
         background-color: #FFF1C8;
     }
    #map{
            font-size: 40px;
            
        }
    #img{
        border-radius: 5px; //ขอบโค้ง
        text-align: center;
    }
   



}
