page-cause {
    #icon1{
        border: solid 1px; //กำหนดเส้นขอบไอคอน
        border-radius: 5px; //ขอบโค้ง
        color: #FF6F18; //สีไอคอน
        text-align: center;
        background-color: gold; //พื้นหลังไอคอน
        font-size: 100px;
    }
    #icon2{
        border: solid 1px; //กำหนดเส้นขอบไอคอน
        border-radius: 5px; //ขอบโค้ง
        color: #FF6F18; //สีไอคอน
        text-align: center;
        background-color: gold; //พื้นหลังไอคอน
        font-size: 100px;
    }
    #icon3{
        border: solid 1px; //กำหนดเส้นขอบไอคอน
        border-radius: 5px; //ขอบโค้ง
        color: #FF6F18; //สีไอคอน
        text-align: center;
        background-color: gold; //พื้นหลังไอคอน
        font-size: 100px;
    }
    #icon4{
        border: solid 1px; //กำหนดเส้นขอบไอคอน
        border-radius: 5px; //ขอบโค้ง
        color: #FF6F18; //สีไอคอน
        text-align: center;
        background-color: gold; //พื้นหลังไอคอน
        font-size: 100px;
    }
    #icon1:hover{
        background-color: yellow;
    }
    #icon2:hover{
        background-color: yellow;
    }
    #icon3:hover{
        background-color: yellow;
    }
    #icon4:hover{
        background-color: yellow;
    }
    
    #bordergrid{
        border: solid 1px;
        border-radius: 5px;
        border-color: gold;
        margin: 10px;
         background-color: #FFF1C8;
     }
    h2,ion-label{
        color: goldenrod;
    }
    #Submit{
        background-color: gold;
        text-align: center;
        color: black;
        height: 40px;
        width: 150px;
    }
    #ohicon{
        font-size: 50px;
        color: orangered;
    }
}

